# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# all users in this group will be requested
# for review when someone opens a pull request.

# Default reviewers
* @inditex/iopincome-poweruser @inditex/iopincome-regularuser

# Project metadata reviewers
application.yml @inditex/iopincome-poweruser

# CI/CD workflows reviewers
.github/workflows/* @inditex/iopincome-poweruser

# Maven configuration management and quality metrics files
code/src/main/config/*-style.xml @inditex/iopincome-poweruser
code/src/main/config/pom-code-convention.xml @inditex/iopincome-poweruser

# Other reviewers
